* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #111111;
}

header {
    display: flex;
}

.header-left-section, .header-right-section {
    display: flex;
    height: 40px;
    width: 50%;
    align-items: center;
    margin: 0 6px;
}

.header-right-section {
    justify-content: flex-end;
}

.shield-box, .recording-box,.view-box {
    background-color: #0a0b0b;
    color: #f5f5f5;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 8px;
}

.shield-box {
    color: #20d959;
    margin-right: 6px;
}

.recording-box .fa-circle-dot {
    margin: 0 8px;
}

.recording-box .fa-pause {
    margin: 0 8px 0 18px;
}

.recording-box .fa-stop {
    margin: 0 8px;
}

.view-box .fa-table-cells {
    margin: 0 4px;
}

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.main-display-box {
    display: flex;
    padding: 5vh;
    max-width: 1500px;
    flex-wrap: wrap;
    gap: 8px;
    margin: auto;
    justify-content: center;
}

.cell {
    position: relative;
    height: 120px;
    width: 200px;
    background-image: url("https://picsum.photos/200");
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.cell-owner-name {
    position: absolute;
    left: 3px;
    bottom: 3px;
    background-color: #1e1e1b;
    border-radius: 5px;
    padding: 4px 6px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.cell-owner-name .fa-microphone-lines-slash {
    color: #de2928;
    transform: scale(-1, 1);
    margin-right: 4px;
}


footer {
    height: 80px;
    background-color: #1b1b1b;
}

